.sideNavigation{
  height: 100vh;
  background: rgb(40, 40, 40);
  width: 150px;
  position: fixed;

  .sideNavigationLink{
    color: #f7ffcb;
    font-size: 18px;
    background: transparent;
    height: 50px;
    width: 150px;
    padding: 15px 10px;
    display: flex;
    transition: all .15s ease-in-out;
  
    &:hover{
      background: #f7ffcb;
      color: rgb(40, 40, 40);
    }

    &.active{
      background: #f7ffcb;
      color: rgb(40, 40, 40);
    }
  }
  
}